<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3>Add Blog</h3>
<p>
    <a th:href="@{/blogList}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form th:action="@{/save}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Tittle</label>
            <input type="text" th:field="*{tittle}"/>
        </div>
        <div>
            <label>Author</label>
            <input type="text" th:field="*{author}"/>
        </div>
        <div>
            <label>Content</label>
            <textarea th:field="*{content}" class="form-control"></textarea>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>