<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>EDIT CUSTOMER</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="~{layout/header::header}"></header>
<div class="container d-flex justify-content-md-center mb-5" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-12 bg-light info">
            <form th:object="${customer}" method="post" action="/customer/edit">
                <fieldset>
                    <legend style="text-align: center">Edit Customer Information</legend>
                    <input type="hidden" th:field="*{id}">
                    <table>
                        <tr>
                            <td>Name</td>
                            <td><input type="text" name="name"
                                       id="name" class="form-control"
                                       th:field="*{name}"></td>
                        </tr>
                        <tr>
                            <td>Birthday</td>
                            <td><input type="date" name="birthday"
                                       id="birthday" class="form-control"
                                       th:field="*{birthday}"></td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>
                                <input id="gender_0" th:field="*{gender}" value="0"  type="radio">
                                <label for="gender_0">Nữ</label>
                                <input id="gender_1" th:field="*{gender}" value="1"  type="radio">
                                <label for="gender_1">Nam</label>
                            </td>
                        </tr>
                        <tr>
                            <td>Identify Card</td>
                            <td><input type="text" name="idCard"
                                       class="form-control"
                                       th:field="*{identifyCard}"></td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td><input type="text" name="phoneNumber"
                                       class="form-control"
                                       th:field="*{phoneNumber}"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><input type="text" name="email"
                                       class="form-control"
                                       th:field="*{email}"></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td><input type="text" name="address"
                                       class="form-control"
                                       th:field="*{address}"></td>
                        </tr>
                        <tr>
                            <td>Customer Type</td>
                            <td>
                                <select th:field="*{customerType}" class="form-select">
                                    <option th:each="customerType : ${customerTypeList}"
                                            th:value="${customerType.id}" th:text="${customerType.name}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Edit Customer" class=" btn-success"></td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{layout/footer::footer}"></footer>
<script src="https://kit.fontawesome.com/8a4e8d8d08.js" crossorigin="anonymous"></script>
</body>
</html>