<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/my-style.css">
</head>
<body>
<header th:replace="~{layout/header::header}"></header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="/create" class="btn btn-success">Add new customer</a>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6 d-flex justify-content-end">
            <div>
                <div class="container-fluid">
                    <form action="#" method="post" class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                               name="searchName">
                        <button class="btn btn-outline-success btn-light" type="submit"><strong>Search</strong></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-12">
            <table id="tableCustomer" class="table table-hover table-striped" style="width: 100%">
                <thead>
                <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Identify Card</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Customer Type</th>
                    <th scope="col">Address</th>
                    <th scope="col" style="text-align: center">Edit</th>
                    <th scope="col" style="text-align: center">Delete</th>
                </tr>
                </thead>
                <tbody>

                <tr class="table-light" th:each="customer, loop : ${customers}">
                    <th scope="row" th:text="${loop.count}"></th>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.birthday}"></td>
                    <td th:if="${customer.gender==0}"><span>Nữ</span></td>
                    <td th:if="${customer.gender==1}"><span>Nam</span></td>
                    <td th:text="${customer.identifyCard}"></td>
                    <td th:text="${customer.phoneNumber}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.customerType.name}"></td>
                    <td th:text="${customer.address}"></td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button"
                                class="btn"
                                data-bs-toggle="modal"
                                data-bs-target="#editButton">
                            <a th:href="@{/customer/edit(id=${customer.id})}">
                                Sửa
                            </a>

                        </button>
                    </td>
                    <td class="btn-delete">
                        <button th:attr="onclick=|deleteCustomer('${customer.name}' ,'${customer.id}')|"
                                class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalDelete">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link"
               th:href="@{/customer/list(page=${customers.number - 1})}"
               th:if="${customers.hasPrevious()}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="btn btn-light">
            <span th:text="${customers.number + 1}"></span>
            /
            <span th:text="${customers.totalPages}"></span>
        </li>

        <li class="page-item">
            <a class="page-link"
               th:href="@{/customer/list(page=${customers.number + 1})}"
               th:if="${customers.hasNext()}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Modal delete -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/customer/delete" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden name="customerId" id="deleteId">
                    Are you sure delete customer: <span id="deleteName" class="fw-bold"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function deleteCustomer(name, customerId ) {
        document.getElementById("deleteId").value = customerId;
        document.getElementById("deleteName").innerText = name;
    }
</script>
<footer th:replace="~{layout/footer::footer}"></footer>
<script src="https://kit.fontawesome.com/8a4e8d8d08.js" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>